<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Vertical Timeline design</title>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
  <div class="history-tl-container">
    <ul class="tl">
      <h3>Education</h3>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          <p>2008</p><br> <h3>University of Studies</h3>
        </div>
        <div class="item-title">Frontend Development</div>
        <div class="item-detail">Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales.
          Phasellus sed mauris hendrerit, laoreet sem in, lobortis ante.</div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          <p>2007</p><br> <h3>University of Studies</h3>
        </div>
        <div class="item-title">
          Graphic Design</div>
        <div class="item-detail">Aliquam tincidunt malesuada tortor vitae iaculis. In eu turpis iaculis, feugiat risus
          quis, aliquet urna. Quisque fringilla mollis risus, eu pulvinar dolor.</div>
      </li>
      <h3>Experience</h3>

      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          <p>2016 - Current</p><br> <h3>Envato</h3>
        </div>
        <div class="item-title">Lead Ui/Ux Designer</div>
        <div class="item-detail">Praesent dignissim sollicitudin justo, sed elementum quam lacinia quis. Phasellus eleifend tristique posuere. Sed vitae dui nec magna.</div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          <p>2013 - 2016</p><br> <h3>Envato</h3>
        </div>
        <div class="item-title">Senior Ui/Ux Designer</div>
        <div class="item-detail">Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique, ornare felis id, congue libero. Nam volutpat euismod quam.</div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          <p>2011 - 2013</p><br> <h3>Envato</h3>
        </div>
        <div class="item-title">Junior Ui/Ux Designer</div>
        <div class="item-detail">Duis mollis nunc quis quam viverra venenatis. Nulla nulla arcu, congue vitae nunc ac, sodales ultricies diam. Nullam justo leo, tincidunt sit amet.</div>
      </li>

    </ul>

  </div>
  <!-- partial -->

</body>

</html>